.form-page-10 {
	.colon-top {
		margin-bottom: 35px;
	}
	.main-title {
		margin-top: 0px;
		margin-bottom: 5px;
	}

	p {
		margin-bottom: 8px;
	}

	.edit-block {
		margin-bottom: 25px;

		h4 {
			margin-bottom: 10px;
		}
	}

	.title-edit-block {
		font-size: 16px;

	}

	.note {
		font-weight: 600;
		font-size: 15px;
		line-height: 1.2;
	}

	.show-input {
		display: inline-block;
		padding: 0 18px 0 5px;

		background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAMAAAAolt3jAAAAXVBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAC5BxTwAAAAHnRSTlMAChAXGR4gK1FUbXFze36AgoOFhomLjqutsLLT8f0bdEw9AAAAXUlEQVQIHQXBiQJCQAAFwKGD0iERZff9/2c2AwDQrDVJUi+Gge0M0L5yUwHu3+N4FcCjL6UlwLMvGRHwWUomCMzdL28Q2A/dbIEK2ScqbCfAeYVmq0mSujUAAAAA/qV7Bff38HDGAAAAAElFTkSuQmCC');
		background-repeat: no-repeat;
		background-size: auto 14px;
		background-position: 100% 0;

		font-weight: 600;
		text-decoration: underline;

		&:hover {
			cursor: pointer;
		}
	}

	.inserted-input {
		display: none;
		height: 21px;
		padding: 0 5px;

		border: none;
		border-bottom: 1px #818181 solid; 
		box-shadow: none;
		border-radius: 0;

		&:focus {
			outline: none;
		}
	}

	// .red-bg {
	// 	padding: 0 5px;

	// 	background-color: red;
	// }

	// .green-bg {
	// 	padding: 0 5px;

	// 	background-color: red;
	// }

	// заполнитель для перехода текста на новую страницу 
	// .push-to-3page {
	// 	height: 750px;
	// }
	table thead {
		background: #eee;
	}

	table {
		max-width: 100%;

		.wrap-field {
			padding-left: 0;
		}
		input.inserted-input {
			max-width: 130px;
			width: 100%;
		}

		&.desc-issuer-secur.table {
			>thead>tr>th {
				width: 20%;
			}
		}
	}



	ul {
		margin-left: 0;
		padding-left: 20px;
	}

	.blue-color {

		color: skyblue;
	}

	.wrap-field {
		padding-left: 50px;

		.wrap-field {
			margin: 7px 0;
		}
	}

	.states {
		font-size: 17px;
	}

	.wrap-hide-input {
		padding-top: 10px;
	}

	.material-person-input {
		input {
			padding-bottom: 0;

			border: none;
			border-bottom: 1px #818181 solid; 
			box-shadow: none;
			border-radius: 0;
			outline: none;
		}
	}

	.wrap-posit {
		margin-top: 30px;
	}

	.perc-voting {
		td {
			text-alighn:center;
		}
	}

	.gen-risk-factor {
		li {
			margin-bottom: 20px;

			font-weight: 600;
		}
	}

	span.bad-info {
		// display: inline-block;
		margin-right: 20px;
	}

	[class ^= bad-info-block] {
		.material-person-input {
			width: 50%;
		}
	}




}
