.mt-step-col .mt-step-title.btn.btn-mod.btn-large.btn-solid {
  display: inline-block;
  padding-right: 0;
  padding-left: 0;
  width: 100%;
}
.active .mt-step-title.btn.btn-mod.btn-large.btn-solid {
  padding-right: 0;
  padding-left: 0;
  width: 100%;
}
@media screen and (max-width: 480px) {
  .mt-step-title.btn.btn-mod.btn-large.btn-solid {
    font-size: 9px;
  }
}
.sub-tabs.tpl-minimal-tabs {
  padding-left: 7px;
  padding-right: 7px;
  width: 100%;
}
.sub-tabs.tpl-minimal-tabs > li {
  padding: 0 0%;
}
.sub-tabs.tpl-minimal-tabs > li > a {
  padding: 6px 10% 5px;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .sub-tabs.tpl-minimal-tabs > li > a {
    font-size: 9px;
  }
}
@media screen and (max-width: 767px) {
  .sub-tabs.tpl-minimal-tabs > li {
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 500px) {
  .sub-tabs.tpl-minimal-tabs > li > a {
    font-size: 9px;
  }
}
.page a {
  color: #306FA5;
  font-weight: 500;
}
.page .zero-padd {
  padding-left: 0;
  padding-right: 0;
}
.page .no-right-pad {
  padding-right: 0;
}
.page .no-left-pad {
  padding-left: 0;
}
.page .submit-block button {
  margin-top: 30px;
}
.page .bordered {
  padding: 4px;
  border: 1px #ccc solid;
}
.page .dell,
.page .add {
  display: inline-block;
}
.page .add {
  position: relative;
  margin-left: 20px;
}
.page .add:before {
  content: '';
  position: absolute;
  top: 1px;
  left: -10px;
  width: 1px;
  height: 25px;
  background: #818181;
}
.page label ul {
  list-style-type: none;
}
.page label > input[type="radio"] {
  margin-right: 10px;
}
.page .full-width {
  display: block;
}
.page .wrap-upload-file {
  margin-top: 15px;
  margin-bottom: 5px;
}
.page .wrap-upload-file i {
  margin-right: 7px;
  vertical-align: sub;
  font-size: 26px;
}
.page .wrap-upload-file input[type="file"] {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  width: 150px;
  cursor: pointer;
}
.page .separate {
  min-height: 15px;
}
.form-page-2 .title-in-form {
  padding-bottom: 10px;
  border-bottom: 1px #ccc solid;
}
.form-page-2 .no-width {
  width: 80%;
}
.form-page-2 label.marg-right {
  margin-right: 8%;
}
.form-page-2 ul.link-calc-list {
  margin-bottom: 40px;
}
.form-page-2 .wrap-textarea {
  display: none;
}
.form-page-2 .radio-check-fields {
  display: none;
}
.form-page-2 .radio-check-fields label {
  display: inline-block;
  margin-top: 6px;
  padding-right: 0;
}
.form-page-2 .radio-check-fields label + input {
  display: inline-block;
}
.form-page-2 .notes-import p {
  margin-bottom: 10px;
}
.form-page-3 .column-title {
  font-weight: 600;
}
.form-page-3 .inputs-lists .input-title {
  line-height: 2.7;
  font-weight: 600;
}
.form-page-3 .inputs-lists input[type='text'].form-control {
  border: none;
  border-bottom: 1px #818181 solid;
  box-shadow: none;
  border-radius: 0;
}
.form-page-3 .inputs-lists .mobile-title {
  display: inline-block;
  padding-top: 8px;
  font-size: 13px;
}
.form-page-3 .inputs-lists .help-block.with-errors {
  margin-top: 2px;
  margin-bottom: 3px;
}
@media screen and (max-width: 767px) {
  .form-page-3 .inputs-lists .help-block.with-errors {
    margin-top: 0;
    margin-bottom: 0;
  }
}
.form-page-6 .any-transaction-fields {
  display: none;
}
.form-page-7 .operation-history-fields,
.form-page-7 .sold-experience-fields {
  display: none;
}
.form-page-7 .inputs-lists .input-title {
  line-height: 2.7;
  font-weight: 600;
}
.form-page-7 .inputs-lists .mobile-title {
  display: inline-block;
  padding-top: 8px;
  font-size: 13px;
}
.form-page-7 .inputs-lists .help-block.with-errors {
  margin-top: 4px;
  margin-bottom: 5px;
}
.form-page-7 div.hidden-block {
  margin-top: 25px;
  display: none;
}
.form-page-8 .out-secur-fields,
.form-page-8 .any-exempt-offer-fields,
.form-page-8 .any-outst-securit-fields,
.form-page-8 .other-rights-fields {
  display: none;
}
.form-page-8 .any-outst-securit-fields .dell {
  margin-top: 25px;
}
@media screen and (min-width: 992px) {
  .form-page-8 .other-padd {
    padding-left: 7px;
    padding-right: 6px;
  }
}
@media screen and (min-width: 768px) {
  .form-page-9 .if-yes-block .explain-yes {
    padding-top: 25px;
  }
}
.form-page-9 label ul {
  padding-left: 10px;
}
.form-page-10 .submit-field button {
  padding: 6px 23px;
}
.form-page-10 .already-cik-fields {
  margin-top: 25px;
}
.form-page-10 .dell {
  margin-bottom: 15px;
  margin-top: 15px;
}
@media screen and (min-width: 992px) {
  .form-page-10 .dell {
    margin-top: 50px;
  }
}
.form-page-10 .colon-top {
  margin-bottom: 35px;
}
.form-page-10 .main-title {
  margin-top: 0px;
  margin-bottom: 5px;
}
.form-page-10 p {
  margin-bottom: 8px;
}
.form-page-10 .edit-block {
  margin-bottom: 25px;
}
.form-page-10 .edit-block h4 {
  margin-bottom: 10px;
}
.form-page-10 .title-edit-block {
  font-size: 16px;
}
.form-page-10 .note {
  font-weight: 600;
  font-size: 15px;
  line-height: 1.2;
}
.form-page-10 .show-input {
  display: inline-block;
  padding: 0 18px 0 5px;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAMAAAAolt3jAAAAXVBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAC5BxTwAAAAHnRSTlMAChAXGR4gK1FUbXFze36AgoOFhomLjqutsLLT8f0bdEw9AAAAXUlEQVQIHQXBiQJCQAAFwKGD0iERZff9/2c2AwDQrDVJUi+Gge0M0L5yUwHu3+N4FcCjL6UlwLMvGRHwWUomCMzdL28Q2A/dbIEK2ScqbCfAeYVmq0mSujUAAAAA/qV7Bff38HDGAAAAAElFTkSuQmCC');
  background-repeat: no-repeat;
  background-size: auto 14px;
  background-position: 100% 0;
  font-weight: 600;
  text-decoration: underline;
}
.form-page-10 .show-input:hover {
  cursor: pointer;
}
.form-page-10 .inserted-input {
  display: none;
  height: 21px;
  padding: 0 5px;
  border: none;
  border-bottom: 1px #818181 solid;
  box-shadow: none;
  border-radius: 0;
}
.form-page-10 .inserted-input:focus {
  outline: none;
}
.form-page-10 table thead {
  background: #eee;
}
.form-page-10 table {
  max-width: 100%;
}
.form-page-10 table .wrap-field {
  padding-left: 0;
}
.form-page-10 table input.inserted-input {
  max-width: 130px;
  width: 100%;
}
.form-page-10 ul {
  margin-left: 0;
  padding-left: 20px;
}
.form-page-10 .blue-color {
  color: skyblue;
}
.form-page-10 .wrap-field {
  padding-left: 50px;
}
.form-page-10 .wrap-field .wrap-field {
  margin: 7px 0;
}
.form-page-10 .states {
  font-size: 17px;
}
.form-page-10 .wrap-hide-input {
  padding-top: 10px;
}
.form-page-10 .material-person-input input {
  padding-bottom: 0;
  border: none;
  border-bottom: 1px #818181 solid;
  box-shadow: none;
  border-radius: 0;
  outline: none;
}
.form-page-10 .wrap-posit {
  margin-top: 30px;
}
.form-page-10 .perc-voting td {
  text-alighn: center;
}
.form-page-10 .gen-risk-factor li {
  margin-bottom: 20px;
  font-weight: 600;
}
.form-page-10 span.bad-info {
  margin-right: 20px;
}
.form-page-10 [class^=bad-info-block] .material-person-input {
  width: 50%;
}
