.form-pages a {
  color: #306FA5;
  font-weight: 500;
}
.form-pages .zero-padd {
  padding-left: 0;
  padding-right: 0;
}
.form-pages .no-right-pad {
  padding-right: 0;
}
.form-pages .submit-block button {
  margin-top: 30px;
}
.form-pages .bordered {
  padding: 4px;
  border: 1px #ccc solid;
}
.form-pages .dell,
.form-pages .add {
  display: inline-block;
}
.form-pages .add {
  position: relative;
  margin-left: 20px;
}
.form-pages .add:before {
  content: '';
  position: absolute;
  top: 1px;
  left: -10px;
  width: 1px;
  height: 25px;
  background: #818181;
}
.form-pages .wrap-upload-file {
  margin-top: 15px;
  margin-bottom: 5px;
}
.form-pages .wrap-upload-file i {
  margin-right: 7px;
  vertical-align: sub;
  font-size: 26px;
}
.form-pages .wrap-upload-file input[type="file"] {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  width: 150px;
  cursor: pointer;
}
.form-page-2 .title-in-form {
  padding-bottom: 10px;
  border-bottom: 1px #ccc solid;
}
.form-page-2 .no-width {
  width: 80%;
}
.form-page-2 label.mr {
  margin-right: 8%;
}
.form-page-2 ul.link-calc-list {
  margin-bottom: 40px;
}
.form-page-2 .wrap-textarea {
  display: none;
}
.form-page-2 .radio-check-fields {
  display: none;
}
.form-page-2 .radio-check-fields label {
  display: inline-block;
  margin-top: 6px;
  padding-right: 0;
}
.form-page-2 .radio-check-fields label + input {
  display: inline-block;
}
.form-page-2 .notes-import p {
  margin-bottom: 10px;
}
.form-page-3 .column-title {
  font-weight: 600;
}
.form-page-3 .inputs-lists .input-title {
  line-height: 2.7;
  font-weight: 600;
}
.form-page-3 .inputs-lists input[type='text'].form-control {
  border: none;
  border-bottom: 1px #818181 solid;
  box-shadow: none;
  border-radius: 0;
}
.form-page-3 .inputs-lists .mobile-title {
  display: inline-block;
  padding-top: 8px;
  font-size: 13px;
}
.form-page-3 .inputs-lists .help-block.with-errors {
  margin-top: 2px;
  margin-bottom: 3px;
}
@media screen and (max-width: 767px) {
  .form-page-3 .inputs-lists .help-block.with-errors {
    margin-top: 0;
    margin-bottom: 0;
  }
}
.form-page-6 .any-transaction-fields {
  display: none;
}
.form-page-7 .operation-history-fields,
.form-page-7 .sold-experience-fields {
  display: none;
}
.form-page-7 .inputs-lists .input-title {
  line-height: 2.7;
  font-weight: 600;
}
.form-page-7 .inputs-lists .mobile-title {
  display: inline-block;
  padding-top: 8px;
  font-size: 13px;
}
.form-page-7 .inputs-lists .help-block.with-errors {
  margin-top: 4px;
  margin-bottom: 5px;
}
.form-page-7 div.hidden-block {
  margin-top: 25px;
  display: none;
}
.form-page-8 .out-secur-fields,
.form-page-8 .any-exempt-offer-fields,
.form-page-8 .any-outst-securit-fields,
.form-page-8 .other-rights-fields {
  display: none;
}
.form-page-8 .dell {
  margin-top: 25px;
}
@media screen and (min-width: 992px) {
  .form-page-8 .other-padd {
    padding-left: 7px;
    padding-right: 6px;
  }
}
